<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.gam.Free">
  
  <select id="freelist" parameterType="Map" resultType="FreeDto">
  SELECT freeboard_seq,freeboard_group,freeboard_step,freeboard_title,freeboard_writer,freeboard_readcount,
		freeboard_regdate,freeboard_delflag,freeboard_recommender,freeboard_pushnum
		FROM mgm_freeboard ORDER BY freeboard_group DESC,freeboard_step ASC LIMIT #{start},#{last}
  
  </select>
    
   <select id="selectTotalPaging" resultType="int">
		SELECT COUNT(*) FROM mgm_freeboard
	</select> 
    
    
    
  </mapper>